<h1>Json server data doughnut example</h1>
<hr>

<div class="alert alert-info" *ngIf="doughnutChartData.datasets[0].data.length === 0; else divGraphic">
    loading data...
</div>

<div class="row" >
    <div class="col">
        <ng-template class="col" #divGraphic>
            <canvas baseChart class="chart"
                    [data]="doughnutChartData"
                    [type]="doughnutChartType">
            </canvas>
            <span class="float-end text-primary">Data info http json server</span>
        </ng-template>
    </div>
</div>
